*{
    margin:0;
    padding:0;
    border:0;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
body{
    font-family: arial, sans-serif;
    text-align:center;
}

html{
    height:100%;
}
#head{
    width:100%;
    height:29px;
    background-color:#2d2d2d;
}
#content{
    height:586px;
    width:100%;
    background-color:#ffffff;
}
#footer{
    width:100%;
    height:40px;
    background-color:#f2f2f2;
    border-top:1px solid #e4e4e4;
}
/* menu bar */
.nav,.login,.subnav,.settings{
    list-style-type: none;
    font-size:13px;
}
 .nav li{
    float:left;
}
 .login li{
    float:right;
}
.login li div{
    background:url(../img/settings.png);
    background-position:0 0;
    height:17px;
    width:16px;
}
.nav li:hover,.login li:hover{
    background:#666;
}
#head .nav .current span{
    display:block;
    height:2px;
    background:#c00;
}
.nav a,.login a{
    display:block;
    height:25px;
    padding:6px 8px 0 8px;
    float:left;
    color:#ccc;
}
.login div{
    margin-top:6px;
    margin-left:6px;
    padding:6px 8px 0 8px;
}
.nav a:hover,.login a:hover{
    text-decoration:none;
}
.li_subnav span{
    height:0;
    width:0;
    position: relative;
    left:-6px;
    top:5px;
    background:transparent;
    border-style: solid dashed dashed;
    border-color: transparent;
    border-top-color: #c0c0c0;
    display: inline-block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 0;
    border-width: 3px 3px 0;
    padding-top: 1px;

}
/*  submenu  */
.subnav{
    width:92px;
    height:290px;
    position: relative;
    left:-49px;
    top:30px;
    border-left:1px solid #bebebe;
    border-right:1px solid #bebebe;
    border-bottom:1px solid #bebebe;
    display:none;
    overflow:auto;
}
.settings{
    width:102px;
    height:210px;
    position: relative;
    left:72px;
    top:32px;
    border-left:1px solid #bebebe;
    border-right:1px solid #bebebe;
    border-bottom:1px solid #bebebe;
    display:none;
    overflow:auto;
    float:right;
}
.li_subnav,.li_set{
    border-left:1px solid ;#bebebe
    background:#fff;
}
.subnav li,.settings li{
    width:92px;
    height:30px;
    background:#fff;
    text-align:center;
    line-height:27px;
    white-space:nowrap;
}
.subnav li:hover,.settings li:hover{
    background:#ddd;
}
.subnav a,.settings a{
    display:block;
    color:#36c;
    cursor:pointer;
}
.subnav a:hover,.settings a:hover{
    text-decoration:none;
}
.subnav li hr{
    margin:0;
    HEIGHT: 25;
    width:100%;
    border:4px;
    COLOR:333;
}

#content #logo{
    width:279px;
    height:200px;
    margin:0 auto;
    position: relative;
    left: 0;
    top:180px;
}
#logo img{
    width:269px;
    height:95px;
}
#logo h4{
    color:#777;
    font-weight:bold;
    font-size:16px;
    position: relative;
    left:102px;
    top:-26px;
}
#content form{
    width:550px;
    height:100px;
    margin:0 auto;
    position: relative;
    left: 0;
    top:140px;
}

#content form #search_text{
    width:527px;
    height:27px;
    border: 1px solid #D4D0C8;
    font-size:17px;
}
#content form img{
    width:21px;
    height:25px;
    position: relative;
    left:252px;
    top:-25px;
}
#content #search_button{
    margin:2px 9px 0 -15px;
}
#content form button{
    color:#333;
    font-weight:bold;
    font-size:11px;
    width:80px;
    height:29px;
    border: 1px solid #c6c6c6;
    padding;1px 5px;
}
#content #lang{
    width:450px;
    height:50px;
    margin:0 auto;
    font-size:83%;
    color:#222;
    position: relative;
    left:0px;
    top:135px;
}
#footer a{
    color:#666;
    padding-left:12px;
    font-size:small;
}
#footer a .new{
    color:#b14436;
}
#footer .left{
    padding:9px 25px 8px 25px;
    float:left;
}
#footer .right{
    padding:9px 25px 8px 25px;
    float:right;
}
